<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608405705046-vnho7aef9euia5s4sa134jaijen00thk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608405705046-vnho7aef9euia5s4sa134jaijen00thk</string>
	<key>API_KEY</key>
	<string>AIzaSyAQv2lGx-BjwDzk9aOus8K_x5BvKTfz0ww</string>
	<key>GCM_SENDER_ID</key>
	<string>608405705046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>svetlana-frolova.WINFOX</string>
	<key>PROJECT_ID</key>
	<string>winfox-a6980</string>
	<key>STORAGE_BUCKET</key>
	<string>winfox-a6980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608405705046:ios:86d1d899e0c16c60dd06f7</string>
</dict>
</plist>